*~
*.aux
*.pdf
*.log
*.out
*.toc
*.synctex.gz
*.jax
*.oc
*.dvi
*.idx
*.ilg
*.ind
*.4ct
*.4tc
*.auxlock
*.html
*.idv
*.tmp
*.xref
*.lg
*.svg
*.png
*.md5
*.dpth
*.ps
*.jpg
.DS_Store
*.ids
*.table
*.dat
*.script
*.dep
*.sagetex.sage
*.json
*.sagetex.sage.py
*.sagetex.sout
*.sagetex.scmd
#*